.tablaFRM{
    border: 1px solid #333333; 
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 1%, rgba(246,246,246,1) 7%, rgba(246,246,246,1) 14%, rgba(246,246,246,1) 19%, rgba(125,124,125,1) 100%);
    border-radius: 7px;
    box-shadow: inset 00 10px 70px -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 1%, rgba(246,246,246,1) 7%, rgba(246,246,246,1) 14%, rgba(246,246,246,1) 19%, rgba(125,124,125,1) 100%);
    margin: 0 auto;
    width: 300px;
    border-spacing: 0px;
    
}

.tablaFRM tr:nth-child(1) td{
    text-align: center;
    font-weight:  bold;
        
}


.tablaFRM input[type="text"]{
    background: #C01EF2;
    border: 1px solid #e9e9e9;
    padding: 8px;
    border-radius: 4px;
}

.tablaFRM input[type="text"]:focus{
    box-shadow: 00 10px 10px #666666;
}
.tablaFRM input[type="submit"]{
    padding: 8px;
    border: 1px solid #333333;
    background: #9999ff;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.tablaFRM input[type="submit"]:hover{
    background: #6666ff;
    background: -moz-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(164,179,87,1) 45%, rgba(117,137,12,1) 70%, rgba(117,137,12,1) 100%);
}

.tablaFRM td{
    padding: 6px;
}

.contenido{
    margin-left: 180px;
}
