@model Cine.AppWeb.RouteConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <img src="~/img/fine.jpeg" />
</div>

<div>

    <img src="~/img/zoo.jpg" />
</div>
<h2>Index</h2>

